<?xml version="1.0"?>
<launch>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="mesh_filter" args="load mesh_filter/DepthSelfFiltering standalone_nodelet" output="screen">
    <remap to="/l515_grip/depth/color/points" from="/depth"/>
    <remap to="/l515_grip/color/camera_info" from="/camera_info"/>
  </node>

</launch>
