<?xml version="1.0"?>
<robot name="amiga" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="gazebo" default="false" />

    <!--Import the base macro -->
    <xacro:include filename="$(find arnie_description)/robots/urdf/inc/amiga_base.urdf.xacro" />
    <!--Import the arm -->
    <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />
    <!--Import the gripper -->
    <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />
    <xacro:include filename="$(find amiga_description)/robots/urdf/inc/robotiq_gripper_gazebo.urdf.xacro" />
    <!-- Import the camera on the gripper -->
    <xacro:include filename="$(find amiga_description)/robots/urdf/inc/gripper_camera_mount.urdf.xacro" />
    <xacro:include filename="$(find arnie_description)/robots/urdf/inc/l515.urdf.xacro"/>

    <xacro:amiga_base gazebo="$(arg gazebo)" />

    <xacro:ur10e_robot prefix="amiga_arm_" joint_limited="true"
		 shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
		 shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
		 elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
		 wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
		 wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
		 wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
/>

    <xacro:robotiq-3f-gripper_articulated prefix="amiga_gripper_" />

    <xacro:gripper_camera_mount prefix="amiga_grip_camera_mount_" />
    <xacro:l515 side="_grip" gazebo="$(arg gazebo)"/>

    <joint name="base_arm_joint" type="fixed">
        <origin xyz="0 0 0.3" rpy="0 0 -1.5705" />
        <axis xyz="0 0 0" />
        <parent link="base_link" />
        <child link="amiga_arm_base_link" />
    </joint>

    <joint name="arm_gripper_joint" type="fixed">
        <origin xyz="0 0 0" rpy="1.5708 0 -0.785398" />
        <parent link="amiga_arm_tool0" />
        <child link="amiga_gripper_palm" />
    </joint>

    <joint name="amig_arm_wrist_3_link-amiga_grip_camera_mount_link" type="fixed">
        <!-- <origin xyz="0 0 0.0129" rpy="1.5708 3.14159 2.356192" /> -->
        <origin xyz="0 0.05 0" rpy="0 -2.35619 3.14159" />
        <parent link="amiga_arm_wrist_3_link" />
        <child link="amiga_grip_camera_mount_base_link" />
    </joint>

    <joint name="l515_gripper_joint" type="fixed">
        <origin xyz="0 -0.013 0.146" rpy="0 0.349066 -1.5708"/>
        <parent link="amiga_grip_camera_mount_base_link" />
        <child link="l515_grip" />
    </joint>
    

    <xacro:if value="$(arg gazebo)">
        <xacro:robotiq_gripper_gazebo />
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <!-- <robotNamespace>/</robotNamespace> -->
                <!-- <robotParam>/robot_description</robotParam> -->
            </plugin>
        </gazebo>

        <gazebo reference="amiga_arm_tool0">
            <self_collide>0</self_collide>
        </gazebo>
        <gazebo reference="amiga_grip_camera_mount_base_link">
            <self_collide>0</self_collide>
        </gazebo>
        <gazebo reference="l515_grip">
            <self_collide>0</self_collide>
        </gazebo>
        <gazebo reference="amiga_gripper_palm">
            <self_collide>0</self_collide>
        </gazebo>
        
        <gazebo>
	   <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
		<arm>
		   <arm_name>arm_no_gripper</arm_name>
		   <palm_link> amiga_gripper_finger_1_link_0 </palm_link>
		   <palm_link> amiga_gripper_finger_2_link_0 </palm_link>
		   <gripper_link> amiga_gripper_finger_1_link_1 </gripper_link>
		   <gripper_link> amiga_gripper_finger_1_link_2 </gripper_link>
		   <gripper_link> amiga_gripper_finger_1_link_3 </gripper_link>
		   <gripper_link> amiga_gripper_finger_2_link_1 </gripper_link>
		   <gripper_link> amiga_gripper_finger_2_link_2 </gripper_link>
		   <gripper_link> amiga_gripper_finger_2_link_3 </gripper_link>
		   <gripper_link> amiga_gripper_finger_middle_link_1 </gripper_link>
		   <gripper_link> amiga_gripper_finger_middle_link_2 </gripper_link>
		   <gripper_link> amiga_gripper_finger_middle_link_3 </gripper_link>
		</arm>
	       <forces_angle_tolerance>90</forces_angle_tolerance>
	       <update_rate>4</update_rate>
	       <grip_count_threshold>4</grip_count_threshold>
	       <max_grip_count>8</max_grip_count>
	       <release_tolerance>0.2</release_tolerance>
	       <disable_collisions_on_attach>true</disable_collisions_on_attach>
	       <contact_topic>__default_topic__</contact_topic>
	    </plugin>
	</gazebo>
	
	  <!-- hokuyo -->
  	<gazebo reference="hokuyo_link">
 	   <sensor type="gpu_ray" name="head_hokuyo_sensor">
   	   <pose>0 0 0 0 0 0</pose>
   	   <visualize>false</visualize>
    	  <update_rate>40</update_rate>
    	  <ray>
    	    <scan>
    	      <horizontal>
     	       <samples>720</samples>
    	        <resolution>1</resolution>
    	        <min_angle>-1.570796</min_angle>
     	       <max_angle>1.570796</max_angle>
    	      </horizontal>
    	    </scan>
     	   <range>
      	    <min>0.10</min>
      	    <max>30.0</max>
       	   <resolution>0.01</resolution>
      	  </range>
      	  <noise>
       	   <type>gaussian</type>
       	   <!-- Noise parameters based on published spec for Hokuyo laser
        	       achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
        	       stddev of 0.01m will put 99.7% of samples within 0.03m of the true
        	       reading. -->
        	  <mean>0.0</mean>
       	   <stddev>0.01</stddev>
      	  </noise>
     	 </ray>
     	 <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
     	   <topicName>/rrbot/laser/scan</topicName>
    	    <frameName>hokuyo_link</frameName>
    	  </plugin>
  	  </sensor>
 	 </gazebo>
    </xacro:if>

      <joint name="hokuyo_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.3399999999999999 0.0 0.24000000000000016" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="hokuyo_link"/>
      </joint>

      <!-- Hokuyo Laser -->
      <link name="hokuyo_link">
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
      <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
	  <mesh filename="$(find amiga_description)/robots/meshes/hokuyo.dae"/>
        </geometry>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>





</robot>
