<?xml version="1.0"?>
<launch>
    <node name="amiga_plane_fitter" type="check_planarity" pkg="amiga_obstacle_avoid" output="screen">
	<param name="camera" value="zed2" />  <!--doc="zed2 or l515"--> 
	<param name="min_depth" value="0.6" />
	<param name="max_depth" value="2.0" />
    	<param name="max_distance" value="0.005" /> <!--default 0.005 -->
    	<param name="min_percentage" value="25" />
    	<param name="enable_err_calculation" value="false"/>
    	<param name="color_pc_with_error" value="false" />
    </node>
</launch>
